

<div class = "banner"><h2 style="text-shadow: 
  0.1em 0.4em 0.1em #700,
  0.6em 0.1em 0.1em green,
  0.4em -0.3em 0.1em blue">
Fluidic 
&nbsp;&nbsp
<span style="font-size: small"><em>rethinking the shell</em></span>
</h2>

<p style="clear:both">Fluidic is part of the new generation of graphical consoles. It is in Alpha and should be considered very much experimental. As such, everything is subject to change. Using Fluidic to manipulate irreplaceable data is not recommended.</p>
<p>For a list of commands to try, enter <tt>suggest</tt>.
<p>Comments are welcomed: fluidic@hwyl.org</p>
<p>&copy; Rich Smith, Cardiff 2013. Made available under the GNU GPL.</p></div>

<div class = "command">coding/ go</div>

<div class = "command">fluidic/ go</div>

<div class = "command">ls</div>

<div class = "output"><span title = "Test.java
136 bytes" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/mimes/48/gnome-mime-text-x-c.svg"/> Test.java</span><span title = "__init__.py
0 bytes" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/mimes/48/unknown.svg"/> __init__.py</span><span title = "apps
57 items" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/places/48/folder.svg"/> apps</span><span title = "control
27 items" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/places/48/folder.svg"/> control</span><span title = "fluidic.py
357 bytes" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/mimes/48/gnome-mime-text-x-python.svg"/> fluidic.py</span><span title = "model
15 items" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/places/48/folder.svg"/> model</span><span title = "readme
402 bytes" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/mimes/48/text-plain.svg"/> readme</span><span title = "resources
6 items" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/places/48/folder.svg"/> resources</span><span title = "setup.py
246 bytes" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/mimes/48/gnome-mime-text-x-python.svg"/> setup.py</span><span title = "test
2 items" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/places/48/folder.svg"/> test</span><span title = "todo.txt
452 bytes" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/mimes/48/text-plain.svg"/> todo.txt</span><span title = "util
10 items" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/places/48/folder.svg"/> util</span><span title = "view
16 items" class = "fileBox"><img src = "file:///usr/share/icons/Humanity/places/48/folder.svg"/> view</span></div>