/* Accreditation grey #808285 */

div {
    word-wrap: break-word;
}

body{
/* background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); */
background-color: silver;
background-position: fixed;
}

.output{
    padding: 7px;
    padding-bottom: 20px;
    background-color: white;
    color: RoyalBlue; /*#4169E1;*/
    font-family: tahoma, sans-serif;
    font-size: small;
    margin-bottom: 5px;
    margin-top: 5px;
    /* font-weight: bold; */
    /* margin-left: 10px; */
    /*border-left: thin dotted gray;
    border-right: thin dotted gray;*/
    border-radius: 7px;
}
.command {
    margin-top: 5px;
    padding: 10px;
    background-color: silver; /* DarkOrange; */

    color: black;
    font-size: small;
    font-weight: bold;
    border-top: thin solid gr  ay;
    border-bottom: thin solid gray;
    /*border-left: thin dotted gray;
    border-right: thin dotted gray;*/
    border-radius: 7px;

/* background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea));*/
/*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391));*/
/*background: -webkit-linear-gradient(-45deg, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Metallic blue */

/*background: -webkit-linear-gradient(-45deg, rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);*/
background: -webkit-linear-gradient(-45deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);

}

/* .command { */
/*     padding: 7px; */
/*     background-color: gray; /\* DarkOrange; *\/ */

/*     color: black; */
/*     font-size: small; */
/*     font-weight: bold; */
/*     border-top: thin black solid; */
/*     border-bottom: thin black solid; */
/*     /\*border-left: thin dotted gray; */
/*     border-right: thin dotted gray;*\/ */
/*     background-image: -webkit-gradient( */
/* 	linear, */
/* 	right bottom, */
/* 	left top, */
/* 	color-stop(0.25, rgb(28,52,89)), */
/* 	color-stop(0.63, rgb(115,55,55)), */
/* 	color-stop(0.82, rgb(25,179,105)) */
/*     ); */

/* } */




.command:before{
    color: black;
    font-weight: bold;
    content: "\2192  " /* arrow */
}

.fileBox {
    width: 130px;
    height: 35px;
    margin-right: 15px;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*vertical-align: middle;*/
}
.fileBox img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-right: 3px;
}


table, thead, th, tr, td {
    color: RoyalBlue; /*#4169E1;*/
    font-family: tahoma, sans-serif;
    font-size: small;

    border: thin silver solid;
    border-collapse: collapse;
    padding: 4px;
}
table img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}





.error {
  color: black;
  padding: 5px;
  border: thin red dashed;
}
.error:before {
    content: "!";
    font-weight: bold;
    color: white;
    background: red;
    /*border: thin black solid;*/
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.banner {
    padding: 10px;
    color: white;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313));
    border-radius: 7px;
}

.show, .properties {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    border: thin black solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888;
}
.show img {
    width: 250px;
    border-radius: 5px;
   
}
.show div {
    padding: 5px;
}

.properties {
    width: 300px;
    padding: 10px;
}

.properties img {
    vertical-align: middle;
    margin-right: 10px;
    width: 100 px;
    # border: thin black solid;
}